@model List<BasketItemVm>

<!-- Start Cart Panel -->
<div class="shopping__cart">
    <div class="shopping__cart__inner">
        <div class="offsetmenu__close__btn">
            <a href="#"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="shp__cart__wrap">
            @foreach (var item in Model)
            {
                <div class="shp__single__product">
                    <div class="shp__pro__thumb">
                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">
                            <img src="~/imgs/products/@item.ImageUrl" alt="product images">
                        </a>
                    </div>
                    <div class="shp__pro__details">
                        <h2><a href="product-details.html">@item.Name</a></h2>
                        <span class="quantity">QTY: @item.Count</span>
                        <span class="shp__price">$@item.Price</span>
                    </div>
                    <div class="remove__btn">
                        <a asp-action="RemoveBasket" asp-controller="Shop" asp-route-id="@item.Id" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                    </div>
                </div>
            }

        </div>
        <ul class="shoping__total">
            <li class="subtotal">Subtotal:</li>
            <li class="total__price">$130.00</li>
        </ul>
        <ul class="shopping__btn">
            <li><a href="cart.html">View Cart</a></li>
            <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
        </ul>
    </div>
</div>

<!-- End Cart Panel -->

<!-- End Cart Panel -->

